@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        width: 150px;
        height: 150px;
    }
</style>

<table>
    <tbody>
        <tr>
            <td>
                <img src="~/Images/Image01.webp" alt="Image 1" />
            </td>
            <td>
                <img src="~/Images/Image02.jpeg" alt="Image 2" />
            </td>
            <td>
                <img src="~/Images/Image03.webp" alt="Image 3" />
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Images/Image04.jpg" alt="Image 4" />
            </td>
            <td>
                <img src="~/Images/Image05.jpeg" alt="Image 5" />
            </td>
            <td>
                <iframe width="150px" height="150px" src="https://www.youtube.com/embed/MPQgwax9DJI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
        </tr>
    </tbody>
</table>